@import '~carbon-components/scss/globals/scss/styles.scss';

.login {
  padding: 20px;

  &__title {
    font-size: 34px;
    font-weight: lighter;
    margin-bottom: 40px;
  }

  &__grid {
    width: 800px;
    margin-top: 10%;
  }

  &__input {
    &__token, &__url {
      margin-bottom: 20px;
    }
  }
}
.notifications__main {
  &__content {
    margin-left: 16rem;
  }

  &__list__wrapper {
    margin-bottom: 0;
  }

  &__side-nav {
    border-right: #e0e0e0 1px solid;
    &__filters-menu {
      border-top: #e0e0e0 1px solid;
    }
  }

  &__button {
    min-width: 100%;
    display: block;
    text-align: center;
  }
}

.details__main {
  &__jira__link {
    padding: 5px;
  }
}

.mentions__main, .review-requested__main {
  &__content {
    margin-left: 16rem;
  }
}
